/*
 * Project: YourwebCast.Com
 * File: Main styles
 */
/* ==========================================================================
   _FONTS
   ========================================================================== */
/* Cinzel */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* Poiret One */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* Freestyle Script */
@font-face {
  font-family: 'Freestyle Script';
  src: url('../fonts/freestyle-script-webfont.eot');
  src: local('☺'), url('../fonts/freestyle-script-webfont.woff') format('woff'), url('../fonts/freestyle-script-webfont.ttf') format('truetype'), url('../fonts/freestyle-script-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@sm-width: 730px;
@md-width: 999px;
@lg-width: 1054px;

@xxs: ~"(min-width: 375px)";
@xs: ~"(min-width: 568px)";
@sm: ~"(min-width: 750px)";
@md: ~"(min-width: 970px)";
@lg: ~"(min-width: 1280px)";

@font-default: Helvetica, Arial, sans-serif;
@font-cinzel: 'Cinzel', serif;
@font-poiret: 'Poiret One', cursive;
@font-freestyle: 'Freestyle Script', cursive;

@color-white: #fff;
@color-font: #a5aeb6;
@color-black: #000;
@color-gray-light: #e5eaef;
@color-gray-medium: #72797f;
@color-gray-dark: #42484e;
@color-gray-darker: #26292b;
@color-silver: #565f67;
@color-blue-dark: #28343d;

@duration: .4s ease;
@duration-animation: .6s;

@images: '../img';
// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
.color-font(@opacity) { @color: rgba(163, 175, 185, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
// TRANSLATE 3D
.translate-3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}
// ANIMATION
.animation-name (@a) { -webkit-animation-name: @a; animation-name: @a; }
.animation-duration (@a) { -webkit-animation-duration: @a; animation-duration: @a; }
.animation-fill-mode (@a) { -webkit-animation-fill-mode: @a; animation-fill-mode: @a; }
.animation-timing-function (@a) { -webkit-animation-timing-function: @a; animation-timing-function: @a; }
// NAV BOUNCE IN
@-webkit-keyframes nav-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); }
  70% { .translate-3d(0, -18px, 0); }
  to { .translate-3d(0, -15px, 0); }
}
@keyframes nav-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); }
  70% { .translate-3d(0, -18px, 0); }
  to { .translate-3d(0, -15px, 0); }
}
@-webkit-keyframes shadow-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); opacity: 1; }
  70% { .translate-3d(0, 18px, 0); }
  to { .translate-3d(0, 15px, 0); opacity: .4; }
}
@keyframes shadow-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); opacity: 1; }
  70% { .translate-3d(0, 18px, 0); }
  to { .translate-3d(0, 15px, 0); opacity: .4; }
}
// NAV BOUNCE OUT
@-webkit-keyframes nav-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, -15px, 0); }
  70% { .translate-3d(0, 3px, 0); }
  to { .translate-3d(0, 0, 0); }
}
@keyframes nav-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, -15px, 0); }
  70% { .translate-3d(0, 3px, 0); }
  to { .translate-3d(0, 0, 0); }
}
@-webkit-keyframes shadow-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 15px, 0); opacity: .4; }
  70% { .translate-3d(0, -2px, 0); }
  to { .translate-3d(0, 0, 0); opacity: 1; }
}
@keyframes shadow-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 15px, 0); opacity: .4; }
  70% { .translate-3d(0, -2px, 0); }
  to { .translate-3d(0, 0, 0); opacity: 1; }
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px/14px @font-default;
  color: @color-font;
  background: @color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  background: @color-black;
  position: relative;
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 14px;
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-gray-light;
  outline: none;
  text-decoration: underline;
  transition: color @duration;

  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
audio, canvas, img, video { vertical-align: middle; }
.h-default {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  color: @color-font;
  font-family: @font-freestyle;
}
.h1 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 32px;
  font-style: normal;
}
.h2 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 28px;
  font-style: normal;
}
.h3 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 26px;
  font-style: normal;
}
.h4 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 24px;
  font-style: normal;
}
.h5 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 22px;
  font-style: normal;
}
.h6 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 20px;
  font-style: normal;
}
@media @sm {
  .h1 { font-size: 40px; }
  .h2 { font-size: 36px; }
  .h3 { font-size: 32px; }
  .h4 { font-size: 28px; }
  .h5 { font-size: 24px; }
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.unselectable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.hidden { display: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: @md-width;
  padding: 0 15px;
  margin: 0 auto;
  &:after { .clearfix; }
  @media @lg {
    max-width: @lg-width;
  }
}
.spacer {
  position: relative;
}
.main {
  @media @sm {
    padding-top: 30px;
  }
}
.layout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  &-in {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }
  .body-landscape & { padding-top: 56px; }
}
.container {
  padding: 15px;
  border: 1px solid @color-white;
  box-shadow: 0 0 0 2px @color-silver;
  border-radius: 4px;

  .pure-g {
    height: 100%;
    margin: 0 -10px;
    overflow-y: scroll;
    [class *="pure-u"] { padding: 0 10px; }
  }

  @media @sm {
    height: 460px;
    margin-left: 175px;
    overflow-y: scroll;
  }
  @media @md {
    padding: 24px 46px;
    .pure-g { height: auto; overflow: visible; }
  }
}
figure {
  margin: 0;
  border: 1px solid @color-white;
  border-radius: 3px;
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}
.push-left {
  margin: 0 0 14px 0;
  @media @xs {
    margin-right: 16px;
    margin-bottom: 10px;
    float: left;
  }
}
.scroll {
  @media @xs {
    height: 344px;
    overflow-y: scroll;
  }
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  [class *="pure-u"] { font-family: inherit; }
}
.pure-menu-item:before { display: none; }
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset { padding: 0; border: 0; margin: 0; }
/* BUTTONS */
.button, button, input[type="submit"] {
  height: auto;
  padding: 6px 22px;
  font: 17px/18px @font-cinzel;
  display: inline-block;
  color: @color-white;
  text-align: center;
  text-decoration: none;
  .color-white(.2);
  background: @color-font;
  box-shadow: inset 0 14px 0 0 @color;
  border-radius: 4px;
  border: 1px solid #c8cfd4;
  transition: background @duration;

  &:hover, &:focus { background: @color-blue-dark; }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  margin-top: 25px;
  position: relative;
  z-index: 5;
  text-align: center;
  cursor: default;

  .wrapper {
    padding-top: 12px;
    padding-bottom: 15px;
    position: relative;

    &:before {
      .before;
      height: 3px;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      background: @color-gray-darker;
    }
  }

  .company {
    margin-bottom: 5px;
    font: 20px/24px @font-freestyle;
    color: @color-gray-medium;
  }

  .copyright {
    margin: 0 0 10px;
    font-size: 11px;
    letter-spacing: .012em;
    color: @color-gray-dark;
  }

  .actions {
    padding: 0;
    margin: 0;
    list-style: none;
    .unselectable;

    li {
      margin: 0 9px;
      display: inline-block;
      vertical-align: middle;

      a {
        display: block;
        position: relative;
        z-index: 1;

        &:before {
          .before;
          width: 0;
          height: 0;
          margin: auto auto;
          opacity: 0;
          border-radius: 50%;
          background: @color-white;
          box-shadow: 0 0 28px 8px @color-white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          transition: opacity @duration;
          z-index: -1;
        }

        img {
          width: 19px;
          height: 15px;
          display: block;
          opacity: .53;
          transition: opacity @duration;
        }

        &:hover {
          &:before { opacity: 1; }
          img { opacity: 1; }
        }
      }
    }
  }

  @media @xs {
    height: 70px;
    text-align: left;
    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
    .copyright {
      margin-bottom: 0;
      position: absolute;
      top: 44px;
      left: 30px;
    }
    .company {
      margin-bottom: 0;
      font-size: 24px;
      position: absolute;
      top: 14px;
      left: 30px;
    }
    .actions {
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }
  @media @sm {
    margin-top: 80px;
    z-index: 80;
    .wrapper:before { left: 15px; right: 15px; }
  }
  @media @md {
    height: 113px;
    margin-top: 115px;
    .copyright {
      top: 64px;
      left: 38px;
    }
    .company {
      top: 16px;
      left: 38px;
      font-size: 30px;
      line-height: 36px;
    }
    .actions {
      right: 26px;
      top: 66px;
    }
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  padding: 20px 0;
  position: relative;
  overflow: hidden;
  z-index: 5;
  cursor: default;

  .title {
    padding-right: 100px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
    font: 18px/normal @font-poiret;
    color: @color-font;
    text-shadow: 0 0 1px @color-font;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;

    &:before {
      width: 100px;
      height: 30px;
      margin: auto;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: url("@{images}/flower.png") center center no-repeat;
      background-size: auto 100%;
    }
  }

  @media @xxs {
    padding: 15px 0;
    .title {
      padding-right: 140px; font-size: 21px; line-height: 24px;
      &:before { width: 133px; height: 40px; }
    }
  }

  @media @xs {
    .wrapper { background-size: auto 100%; }
  }

  @media @sm {
    position: absolute;
    left: 0;
    bottom: 75px;
    right: 0;
    z-index: 70;
    .title { max-width: none; padding-right: 0; font-size: 36px; }
  }

  @media @md {
    bottom: 120px;
    .title {
      padding-left: 20px;
      padding-right: 200px;
      font-size: 48px;
      line-height: 65px;
      letter-spacing: .025em;
      white-space: nowrap;
      &:before {
        width: 190px;
        height: 60px;
        top: 20px;
        right: 18px;
      }
    }
  }

  @media @lg {
    .title {
      font-size: 55px;
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  position: relative;
  z-index: 50;
  ul {
    margin: 0 -4px;
    padding: 0;
    list-style: none;
    font: 11px/normal @font-cinzel;
    text-transform: uppercase;
    .unselectable;
    &:after { .clearfix; }

    li {
      width: 33.3%;
      height: 100%;
      padding: 0;
      margin-bottom: 8px;
      float: left;
      position: relative;

      a {
        width: 100%;
        min-height: 185px;
        display: block;
        text-decoration: none;
        &:hover {
          .inner { box-shadow: 0 0 5px 3px rgba(255, 255, 255, .75); /*.animation-name (nav-bounce-hover);*/ }
          .title:before { opacity: 1; }
        }
      }

      &:before {
        height: 20px;
        margin-top: 3px;
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 2px;
        right: 2px;
        background: url('@{images}/nav.png') no-repeat 50% 0;
        background-size: 100% 100%;
        //.animation-name (shadow-bounce-blur);
        .animation-duration(@duration-animation);
        .animation-fill-mode(both);
      }

      &:hover {
        //&:before { .animation-name (shadow-bounce-hover); }
      }

      &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: none; }
      &:nth-child(n+4) { margin-bottom: 0; }

      &:nth-child(1) .inner:before { background-image: url('@{images}/nav/home.jpg'); }
      &:nth-child(2) .inner:before { background-image: url('@{images}/nav/about.jpg'); }
      &:nth-child(3) .inner:before { background-image: url('@{images}/nav/orders.jpg'); }
      &:nth-child(4) .inner:before { background-image: url('@{images}/nav/gallery.jpg'); }
      &:nth-child(5) .inner:before { background-image: url('@{images}/nav/video.jpg'); }
      &:nth-child(6) .inner:before { background-image: url('@{images}/nav/contact.jpg'); }
    }

    .inner {
      height: 100%;
      min-height: 230px;
      border: 1px solid @color-white;
      border-radius: 4px;
      margin: 0 4px;
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      color: @color-white;
      .color-black(.4);
      text-shadow: 1px 1px 1px @color;
      text-align: center;
      box-shadow: 0 0 0 2px @color-silver;
      transition: box-shadow @duration-animation;
      -webkit-backface-visibility: hidden;
      //.animation-name (nav-bounce-blur);
      .animation-duration(@duration-animation);
      .animation-fill-mode(both);

      &:before {
        .before;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;
        left: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
      }
    }

    .title {
      height: 40px;
      padding: 12px 0 8px;
      display: block;
      font-size: 12px;
      line-height: 20px;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background: @color-font url('@{images}/button.png') repeat-x center center;
      background-size: auto 100%;
      .color-black(.15);
      box-shadow: inset 0 1px 0 @color;
      -webkit-backface-visibility: hidden;
      .h { display: none; }

      &:before {
        .before;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: url('@{images}/button-hover.png') no-repeat 0 50%;
        background-size: auto 100%;
        transition: opacity @duration;
        .color-black(.25);
        box-shadow: inset 0 1px 1px @color;
        -webkit-backface-visibility: hidden;
      }
    }

    .body-portrait & {
      margin: 0 -8px;
      .title {
        font-size: 13px;
        letter-spacing: -0.05em;
        @media @xxs {
          font-size: 14px;
          letter-spacing: 0;
          .h { display: inline; }
        }
      }
      .inner {
        @media (min-width: 414px) {
          min-height: 265px;
        }
      }
    }

    @media @xxs {
      .body-landscape & {
        li {
          width: 16.66%;
          &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: block; }
          &:nth-child(n+1) { margin-bottom: 0; }
        }
      }
    }

    @media @xs {
      body:not(.body-landscape) & { max-width: 500px; margin: 0 auto; }
      .body-landscape & {
        .inner {
          @media (min-width: 600px) {
            min-height: 225px;
          }
          @media (min-width: 700px) {
            min-height: 265px;
          }
        }
      }
    }

    @media @sm {
      font-size: 14px;
      li:before { height: 28px; }
      .inner:before { bottom: 44px; }
      .title { height: 44px; }
      .body-portrait &, body:not(.body-portrait) & {
        .title { padding-top: 14px; padding-bottom: 10px; font-size: 15px; }
        .inner { min-height: 340px; }
      }
    }

    @media @md {
      body:not(.a) & {
        max-width: none;
        li {
          width: 16.66%;
          &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: block; }
          &:nth-child(n+1) { margin-bottom: 0; }
          &:before { .animation-name (shadow-bounce-blur); }
          &:hover:before { .animation-name (shadow-bounce-hover); }
          a:hover {
            .inner { .animation-name (nav-bounce-hover); }
          }
        }
        .inner {
          min-height: 400px;
          .animation-name (nav-bounce-blur);
          &:before { bottom: 70px; background-position: top left; }
        }
        .title {
          height: 70px;
          padding: 26px 0 20px;
          font-size: 20px;
          line-height: 26px;
          letter-spacing: .01em;
        }
      }
    }

    @media @lg {
      body:not(.a) & {
        .inner { min-height: 460px; }
      }
    }
  }
}
/* ==========================================================================
 _BACK
 ========================================================================== */
.back {
  width: 164px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid @color-white;
  box-shadow: 0 0 0 2px @color-silver;
  border-radius: 4px;
  text-align: center;
  color: @color-white;
  font: 15px/normal @font-cinzel;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow @duration;

  .bottom {
    width: 100%;
    height: 40px;
    display: table;

    span {
      padding: 0 4px;
      display: table-cell;
      vertical-align: middle;
      .color-white(.2);
      background: @color-font;
      box-shadow: inset 0 20px 0 0 @color;
      transition: background @duration;
    }
  }

  &:hover {
    box-shadow: 0 0 5px 2px @color-white;
    span { background: @color-blue-dark; }
  }
  @media @sm {
    height: 460px;
    margin-bottom: 0;
    float: left;
    font-size: 20px;
    .bottom {
      height: 70px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      span {
        .color-white(.2);
        box-shadow: inset 0 40px 0 0 @color;
      }
    }
  }
}
/* ==========================================================================
   _NEWS-LIST
   ========================================================================== */
.news-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;

    .h {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
/* ==========================================================================
   _ARTICLE
   ========================================================================== */
.article {
  &:after { .clearfix; }
  .title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog {

  .item {
    margin-bottom: 18px;
    &:after { .clearfix; }

    .image {
      width: 142px;
      margin-bottom: 14px;
    }

    .h {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  @media @xs {
    .item {
      .image {
        margin-right: 24px;
        margin-bottom: 0;
        float: left;
      }
    }
  }
}
/* ==========================================================================
   _GALLERY
   ========================================================================== */
.gallery {

  &.slick-initialized {
    padding-top: 50px;
    position: relative;
    .slick-arrow {
      text-transform: uppercase;
      position: absolute;
      font-size: 16px;
      top: 0;
      z-index: 1000;
      &:before, &:after {
        .before;
        clear: both;
        width: 3px;
        height: 10px;
        background: @color-white;
        opacity: .8;
        position: absolute;
      }
      &:before { .rotate(45deg); }
      &:after { .rotate(-45deg); }
      &.slick-prev {
        padding-left: 34px;
        padding-right: 18px;
        left: 0;
        &:before, &:after { left: 10px; }
        &:before { top: 7px; }
        &:after { top: 13px; }
      }
      &.slick-next {
        padding-right: 34px;
        padding-left: 18px;
        left: 104px;
        &:before, &:after { right: 10px; }
        &:before { top: 13px; }
        &:after { top: 7px; }
      }
    }
  }
  .item {
    &:after { .clearfix; }
    a {
      text-decoration: none;
    }
    .picture {
      margin-bottom: 16px;
      display: block;
      border: none;
      border-radius: 0;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media @sm {
    .item {
      .text {
        width: 40%;
        float: left;
      }
      .picture {
        width: 55%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
  @media @md {
    margin-top: -50px;
    &.slick-initialized {
      padding-top: 0;
      .slick-arrow {
        top: 60px;
      }
    }
    .item {
      .text {
        width: 30%;
        padding-top: 130px;
      }
      .picture {
        width: 60%;
      }
    }
  }
  @media @lg {
    .item {
      .text { width: 26%; }
      .picture { width: 70%; }
    }
  }
}