/*
 * Project: YourwebCast.Com
 * File: Main styles
 */

// ==========================================================================
// _VARIABLES
// ==========================================================================
@min-width: 320px;
@sm-width: 730px;
@md-width: 999px;
@lg-width: 1054px;

@xxs: ~"(min-width: 375px)";
@xs: ~"(min-width: 568px)";
@sm: ~"(min-width: 750px)";
@md: ~"(min-width: 970px)";
@lg: ~"(min-width: 1280px)";

@font-default: Helvetica, Arial, sans-serif;
@font-cinzel: 'Cinzel', serif;
@font-poiret: 'Poiret One', cursive;
@font-freestyle: 'Freestyle Script', cursive;

@color-white: #fff;
@color-font: #a3afb9;
@color-black: #000;
@color-gray-light: #e5eaef;
@color-silver: #565f67;
@color-blue-dark: #28343d;

@duration: .2s ease;

@images: '../img';
// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
.color-font(@opacity) { @color: rgba(163, 175, 185, @opacity); }
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -ms-transform: rotate(@deg);
  -o-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
/* ==========================================================================
   _FONTS
   ========================================================================== */
/* Cinzel */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* Poiret One */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* Freestyle Script */
@font-face {
  font-family: 'Freestyle Script';
  src: url('../fonts/freestyle-script-webfont.eot');
  src: local('☺'), url('../fonts/freestyle-script-webfont.woff') format('woff'), url('../fonts/freestyle-script-webfont.ttf') format('truetype'), url('../fonts/freestyle-script-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px/14px @font-default;
  color: @color-font;
  background: @color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: @min-width;
  min-height: 100%;
  margin: 0 auto;
  background: @color-black;
  position: relative;
  @media @xxs {
    &.body-index:not(.body-landscape) { height: 100%; }
  }
  @media @lg {
    &.body-index:not(.body-landscape) { height: auto;}
  }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 14px;
}
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  color: @color-gray-light;
  outline: none;
  text-decoration: underline;
  transition: color @duration;

  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
audio, canvas, img, video { vertical-align: middle; }
.h-default {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  color: @color-font;
  font-family: @font-freestyle;
}
.h1 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 32px;
  font-style: normal;
}
.h2 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 28px;
  font-style: normal;
}
.h3 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 26px;
  font-style: normal;
}
.h4 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 24px;
  font-style: normal;
}
.h5 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 22px;
  font-style: normal;
}
.h6 {
  &:extend(.h-default);
  margin: 8px 0;
  font-size: 20px;
  font-style: normal;
}
@media @sm {
  .h1 { font-size: 40px; }
  .h2 { font-size: 36px; }
  .h3 { font-size: 32px; }
  .h4 { font-size: 28px; }
  .h5 { font-size: 24px; }
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.hidden { display: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: @md-width;
  padding: 0 15px;
  margin: 0 auto;
  &:after { .clearfix; }
}
.main {
  padding: 80px 0 110px;
}
.container {
  padding: 15px;
  border: 1px solid @color-white;
  box-shadow: 0 0 0 2px @color-silver;
  border-radius: 4px;

  .pure-g {
    height: 100%;
    margin: 0 -10px;
    overflow-y: scroll;
    [class *="pure-u"] { padding: 0 10px; }
  }
}
figure {
  margin: 0;
  border: 1px solid @color-white;
  border-radius: 3px;
  display: inline-block;

  img {
    max-width: 100%;
    height: auto;
  }
}
.push-left {
  margin: 0 0 14px 0;
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  [class *="pure-u"] { font-family: inherit; }
}
.pure-menu-item:before { display: none; }
@media @xxs {
  .main {
    .body-index:not(.body-landscape) & {
      height: 100%;
      > .wrapper { height: 100%; }
    }
  }
}
@media @xs {
  .scroll {
    height: 344px;
    overflow-y: scroll;
  }
  .push-left {
    margin-right: 16px;
    margin-bottom: 10px;
    float: left;
  }
}
@media @sm {
  .main {
    padding-top: 40px;
    padding-bottom: 210px;
  }
  .container {
    height: 460px;
    margin-left: 175px;
    overflow-y: scroll;
  }
}
@media @md {
  .container {
    padding: 24px 46px;
    .pure-g { height: auto; overflow: visible; }
  }
}
@media @lg {
  .wrapper {
    max-width: @lg-width;
  }
  .main {
    padding-bottom: 226px;
    .body-index:not(.body-landscape) & {
      height: auto;
      > .wrapper {
        height: auto;
      }
    }
  }
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset { padding: 0; border: 0; margin: 0; }
/* BUTTONS */
.button, button, input[type="submit"] {
  height: auto;
  padding: 6px 22px;
  font: 17px/18px @font-cinzel;
  display: inline-block;
  color: @color-white;
  text-align: center;
  text-decoration: none;
  .color-white(.2);
  background: @color-font;
  box-shadow: inset 0 14px 0 0 @color;
  border-radius: 4px;
  border: 1px solid #c8cfd4;
  transition: background @duration;

  &:hover, &:focus { background: @color-blue-dark; }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  height: 95px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .wrapper {
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;

    &:before {
      .before;
      height: 3px;
      margin: 0 auto;
      .color-font(.23);
      background: @color;
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
    }
  }

  .slogan {
    margin-bottom: 10px;
    font: 20px/normal @font-freestyle;
  }

  .copyright {
    margin: 0 0 10px;
    font-size: 11px;
    letter-spacing: .012em;
  }

  .actions {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 9px;
      display: inline-block;
      vertical-align: middle;
      a {
        display: block;
        position: relative;
        z-index: 1;

        &:before {
          .before;
          width: 0;
          height: 0;
          margin: auto auto;
          opacity: 0;
          border-radius: 50%;
          background: @color-white;
          box-shadow: 0 0 28px 8px @color-white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          transition: opacity @duration;
          z-index: -1;
        }

        img {
          width: 19px;
          height: 15px;
          display: block;
          opacity: .53;
          transition: opacity @duration;
        }

        &:hover {
          &:before { opacity: 1; }
          img { opacity: 1; }
        }
      }
    }
  }
  @media @xs {
    height: 70px;
    text-align: left;
    .wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
    .copyright {
      margin-bottom: 0;
      position: absolute;
      top: 44px;
      left: 30px;
    }
    .slogan {
      margin-bottom: 0;
      position: absolute;
      top: 14px;
      left: 30px;
    }
    .actions {
      position: absolute;
      right: 30px;
      top: 30px;
    }
  }
  @media @md {
    height: 113px;
    .copyright {
      top: 64px;
      left: 38px;
    }
    .slogan {
      top: 16px;
      left: 38px;
      font-size: 30px;
    }
    .actions {
      right: 26px;
      top: 66px;
    }
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  padding: 20px 0;
  background: @color-black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  .wrapper {
    background: url("../img/temp/flowers.jpg") 98% 0 no-repeat;
    background-size: auto 75%;
  }
  .title {
    max-width: 200px;
    margin: 0;
    font: bold 18px/normal @font-poiret;
    position: relative;
    letter-spacing: .02em;
  }
  @media @xs {
    .wrapper {
      background-size: auto 100%;
    }
  }
  @media @sm {
    bottom: 70px;
    top: auto;
    .title {
      max-width: 300px;
      padding-right: 0;
      font-size: 36px;
      left: 18px;
    }
  }
  @media @md {
    bottom: 111px;
    .title {
      max-width: none;
      font-size: 45px;
    }
  }
  @media @lg {
    .wrapper {
      background-size: 200px 60px;
      background-position: 98% 12px;
    }
    .title {
      font-size: 56px;
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  ul {
    margin: 0 -4px;
    padding: 0;
    list-style: none;
    font: 11px/normal @font-cinzel;
    text-transform: uppercase;
    &:after { .clearfix; }

    li {
      width: 16.66%;
      height: 100%;
      padding: 0 4px;
      float: left;

      a {
        width: 100%;
        min-height: 185px;
        display: block;
        color: @color-white;
        background-position: 50% 0;
        background-repeat: no-repeat;
        background-size: cover;
        border: 1px solid @color-white;
        box-shadow: 0 0 0 2px @color-silver;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        transition: box-shadow @duration;

        span {
          padding: 15px 0 10px;
          display: block;
          .color-white(.2);
          background: @color-font;
          box-shadow: inset 0 20px 0 0 @color;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          transition: background @duration;
        }

        &:hover {
          box-shadow: 0 0 5px 2px @color-white;
          span { background: @color-blue-dark; }
        }
      }

      &:nth-child(1) {
        a { background-image: url('../img/nav-1.jpg'); }
      }
      &:nth-child(2) {
        a { background-image: url('../img/nav-2.jpg'); }
      }
      &:nth-child(3) {
        a { background-image: url('../img/nav-3.jpg'); }
      }
      &:nth-child(4) {
        a { background-image: url('../img/nav-4.jpg'); }
      }
      &:nth-child(5) {
        a { background-image: url('../img/nav-5.jpg'); }
      }
      &:nth-child(6) {
        a { background-image: url('../img/nav-6.jpg'); }
      }
    }
  }
  .body-portrait & {
    ul {
      max-width: 500px;
      margin: 0 auto;
      li {
        width: 33.3%;
        padding-bottom: 8px;
      }
    }
  }
  @media @xxs {
    body:not(.body-landscape) & {
      height: 100%;
      ul {
        height: 100%;
        li {
          height: 100%;
          a { height: 100%; }
        }
      }
    }
    body.body-portrait & {
      ul {
        li { height: 50%; }
      }
    }
  }
  @media @sm {
    ul { font-size: 14px; }
  }
  @media @lg {
    ul {
      font-size: 20px;
      li {
        a {
          span {
            padding: 27px 0 17px;
            .color-white(.2);
            box-shadow: inset 0 40px 0 0 @color;
          }
        }
      }
    }
    body:not(.body-landscape) & {
      height: auto;
      ul {
        height: auto;
        li {
          height: auto;
          a {
            height: 460px;
          }
        }
      }
    }
  }
}
/* ==========================================================================
 _BACK
 ========================================================================== */
.back {
  width: 164px;
  height: auto;
  margin-bottom: 20px;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid @color-white;
  box-shadow: 0 0 0 2px @color-silver;
  border-radius: 4px;
  text-align: center;
  color: @color-white;
  font: 15px/normal @font-cinzel;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow @duration;

  .bottom {
    width: 100%;
    height: 40px;
    display: table;

    span {
      padding: 0 4px;
      display: table-cell;
      vertical-align: middle;
      .color-white(.2);
      background: @color-font;
      box-shadow: inset 0 20px 0 0 @color;
      transition: background @duration;
    }
  }

  &:hover {
    box-shadow: 0 0 5px 2px @color-white;
    span { background: @color-blue-dark; }
  }
  @media @sm {
    height: 460px;
    margin-bottom: 0;
    float: left;
    font-size: 20px;
    .bottom {
      height: 70px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      span {
        .color-white(.2);
        box-shadow: inset 0 40px 0 0 @color;
      }
    }
  }
}
/* ==========================================================================
   _NEWS-LIST
   ========================================================================== */
.news-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 10px;

    .h {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: bold;
    }
  }
}
/* ==========================================================================
   _ARTICLE
   ========================================================================== */
.article {
  &:after { .clearfix; }
  .title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog {

  .item {
    margin-bottom: 18px;
    &:after { .clearfix; }

    .image {
      width: 142px;
      margin-bottom: 14px;
    }

    .h {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  @media @xs {
    .item {
      .image {
        margin-right: 24px;
        margin-bottom: 0;
        float: left;
      }
    }
  }
}
/* ==========================================================================
   _GALLERY
   ========================================================================== */
.gallery {

  &.slick-initialized {
    padding-top: 50px;
    position: relative;
    .slick-arrow {
      text-transform: uppercase;
      position: absolute;
      font-size: 16px;
      top: 0;
      z-index: 1000;
      &:before, &:after {
        .before;
        clear: both;
        width: 3px;
        height: 10px;
        background: @color-white;
        opacity: .8;
        position: absolute;
      }
      &:before { .rotate(45deg); }
      &:after { .rotate(-45deg); }
      &.slick-prev {
        padding-left: 34px;
        padding-right: 18px;
        left: 0;
        &:before, &:after { left: 10px; }
        &:before { top: 7px; }
        &:after { top: 13px; }
      }
      &.slick-next {
        padding-right: 34px;
        padding-left: 18px;
        left: 104px;
        &:before, &:after { right: 10px; }
        &:before { top: 13px; }
        &:after { top: 7px; }
      }
    }
  }
  .item {
    &:after { .clearfix; }
      a {
        text-decoration: none;
      }
    .picture {
      margin-bottom: 16px;
      display: block;
      border: none;
      border-radius: 0;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media @sm {
    .item {
      .text {
        width: 40%;
        float: left;
      }
      .picture {
        width: 55%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
  @media @md {
    margin-top: -50px;
    &.slick-initialized {
      padding-top: 0;
      .slick-arrow {
        top: 60px;
      }
    }
    .item {
      .text {
        width: 30%;
        padding-top: 130px;
      }
      .picture {
        width: 60%;
      }
    }
  }
  @media @lg {
    .item {
      .text { width: 26%;}
      .picture { width: 70%; }
    }
  }
}