/*
 * Project: YourwebCast.Com
 * File: Main styles
 */
/* ==========================================================================
   _FONTS
   ========================================================================== */
/* Cinzel */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* Poiret One */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* Freestyle Script */
@font-face {
  font-family: 'Freestyle Script';
  src: url('../fonts/freestyle-script-webfont.eot');
  src: local('☺'), url('../fonts/freestyle-script-webfont.woff') format('woff'), url('../fonts/freestyle-script-webfont.ttf') format('truetype'), url('../fonts/freestyle-script-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
// ==========================================================================
// _VARIABLES
// ==========================================================================
@sm-width: 320px;
@md-width: 990px;
@lg-width: 1054px;

@mobile-sm: ~"(min-width: 375px)";
@mobile-md: ~"(min-width: 568px)";
@mobile-lg: ~"(min-width: 667px)";
@tablet-sm: ~"(min-width: 750px)";
@tablet-md: ~"(min-width: 990px)";
@desktop: ~"(min-width: 1280px)";

@font-default: Helvetica, Arial, sans-serif;
@font-cinzel: 'Cinzel', serif;
@font-poiret: 'Poiret One', sans-serif;
@font-freestyle: 'Freestyle Script', cursive;

@color-white: #fff;
@color-font: #a5aeb6;
@color-font-light: #c2c8cd;
@color-black: #000;
@color-gray-medium: #72797f;
@color-gray-dark: #42484e;
@color-gray-darker: #26292b;
@color-gray-darkest: #141414;
@color-silver: #565f67;
@color-blue-dark: #28343d;

@duration: .4s ease;
@duration-animation: .6s;

@margin-xxs: 3px;
@margin-xs: 7px;
@margin-s: 14px;
@margin-m: 21px;
@margin-b: 28px;

@images: '../img';
// ==========================================================================
// _MIXINS
// ========================================================================== */
// COLORS
.color-white(@opacity) { @color: rgba(255, 255, 255, @opacity); }
.color-black(@opacity) { @color: rgba(0, 0, 0, @opacity); }
.color-font(@opacity) { @color: rgba(163, 175, 185, @opacity); }
// GRADIENT
.gradient-y (@startColor, @endColor) {
  background-color: @startColor;
  background: -webkit-linear-gradient(top, @startColor, @endColor);
  background: -moz-linear-gradient(top, @startColor, @endColor);
  background: -ms-linear-gradient(top, @startColor, @endColor);
  background: -o-linear-gradient(top, @startColor, @endColor);
  background: linear-gradient(to bottom, @startColor, @endColor);
}
// ROTATE
.rotate(@deg) {
  -webkit-transform: rotate(@deg);
  transform: rotate(@deg);
  -webkit-backface-visibility: hidden;
}
.transform-origin(@a) {
  -webkit-transform-origin: @a;
  transform-origin: @a;
}
.transition-delay(@a) {
  -webkit-transition-delay: @a;
  transition-delay: @a;
}
// TRANSLATE 3D
.translate-3d(@x, @y, @z) {
  -webkit-transform: translate3d(@x, @y, @z);
  transform: translate3d(@x, @y, @z);
}
// OVERFLOW SCROLLING
.overflow-scrolling(@a) {
  -webkit-overflow-scrolling: @a;
  overflow-scrolling: @a;
}
// ANIMATION
.animation-name (@a) { -webkit-animation-name: @a; animation-name: @a; }
.animation-duration (@a) { -webkit-animation-duration: @a; animation-duration: @a; }
.animation-fill-mode (@a) { -webkit-animation-fill-mode: @a; animation-fill-mode: @a; }
.animation-timing-function (@a) { -webkit-animation-timing-function: @a; animation-timing-function: @a; }
// NAV BOUNCE IN
@-webkit-keyframes nav-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); }
  70% { .translate-3d(0, -18px, 0); }
  to { .translate-3d(0, -15px, 0); }
}
@keyframes nav-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); }
  70% { .translate-3d(0, -18px, 0); }
  to { .translate-3d(0, -15px, 0); }
}
@-webkit-keyframes shadow-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); opacity: 1; }
  70% { .translate-3d(0, 18px, 0); }
  to { .translate-3d(0, 15px, 0); opacity: .4; }
}
@keyframes shadow-bounce-hover {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 0, 0); opacity: 1; }
  70% { .translate-3d(0, 18px, 0); }
  to { .translate-3d(0, 15px, 0); opacity: .4; }
}
// NAV BOUNCE OUT
@-webkit-keyframes nav-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, -15px, 0); }
  70% { .translate-3d(0, 3px, 0); }
  to { .translate-3d(0, 0, 0); }
}
@keyframes nav-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, -15px, 0); }
  70% { .translate-3d(0, 3px, 0); }
  to { .translate-3d(0, 0, 0); }
}
@-webkit-keyframes shadow-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 15px, 0); opacity: .4; }
  70% { .translate-3d(0, -2px, 0); }
  to { .translate-3d(0, 0, 0); opacity: 1; }
}
@keyframes shadow-bounce-blur {
  from, 70%, to { .animation-timing-function(ease); }
  from { .translate-3d(0, 15px, 0); opacity: .4; }
  70% { .translate-3d(0, -2px, 0); }
  to { .translate-3d(0, 0, 0); opacity: 1; }
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 13px @font-default;
  color: @color-font;
  background: @color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media @tablet-sm {
    font-size: 12px;
    line-height: 14px;
  }
}
body {
  width: 100%;
  min-width: @sm-width;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  background: @color-black;

  @media @tablet-md {
    background: @color-black url('@{images}/background.jpg') repeat-x center 0;
  }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p, ul, ol, dl {
  margin-top: @margin-s;
  margin-bottom: @margin-s;
}
ul, ol { padding-left: @margin-m; }
:focus { outline: -webkit-focus-ring-color auto 0; }
a {
  border-bottom: 1px solid @color-font-light;
  color: @color-font-light;
  outline: none;
  text-decoration: none;
  transition: border-color @duration, color @duration;
  &:hover, &:focus { border-bottom-color: transparent; color: @color-white; outline: none; text-decoration: none; }
}
figure {
  margin-left: 0;
  margin-right: 0;
  img { border: 1px solid @color-white; border-radius: 3px; display: block; }
  &.push-left { margin-top: 0; margin-right: @margin-s; float: left; }
  &.push-right { margin-top: 0; margin-left: @margin-s; float: right; }
  &.push-left, &.push-right {
    @media (max-width: 370px) {
      img { width: 100%; max-width: 120px; height: auto; }
    }
  }
  &.fullwidth img { width: 100%; max-width: 100%; height: auto; }
}
audio, canvas, img, video { vertical-align: middle; }
/* HEADINGS */
.h-default {
  margin-top: @margin-m;
  margin-bottom: @margin-s;
  font-family: @font-default;
  line-height: normal;
  font-weight: normal;
  font-style: normal;
  color: @color-font-light;
}
h1, h2, h3, h4, h5, h6 {
  & + p { margin-top: 0; }
  .scroll > &:first-child { margin-top: 0; }
}
.h1 {
  &:extend(.h-default);
  font-family: @font-freestyle;
  font-size: 50px;
}
.h2 {
  &:extend(.h-default);
  font-family: @font-freestyle;
  font-size: 36px;
  line-height: 36px;
}
.h3 {
  &:extend(.h-default);
  font-family: @font-freestyle;
  font-size: 32px;
}
.h4 {
  &:extend(.h-default);
  margin-top: @margin-s;
  margin-bottom: @margin-xxs;
  font-size: 1.1em;
  font-weight: bold;
  text-transform: uppercase;
}
.h5 {
  &:extend(.h-default);
  margin-top: @margin-s;
  margin-bottom: @margin-xxs;
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
}
.h6 {
  &:extend(.h-default);
  margin-top: @margin-s;
  margin-bottom: @margin-xxs;
  font-size: .9em;
  font-weight: bold;
  text-transform: uppercase;
}
@media @tablet-sm {
  .h1 { font-size: 40px; }
  .h2 { font-size: 36px; }
  .h3 { font-size: 32px; }
}
h1 {&:extend(.h1); }
h2 {&:extend(.h2); }
h3 {&:extend(.h3); }
h4 {&:extend(.h4); }
h5 {&:extend(.h5); }
h6 {&:extend(.h6); }
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix { display: table; content: '\0020'; clear: both; }
.before { display: block; content: '\0020'; overflow: hidden; }
.unselectable { -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.hidden { display: none; }
/* PureCSS styles */
.pure-g {
  font-family: inherit;
  [class *="pure-u"] { font-family: inherit; }
}
.pure-menu-item:before { display: none; }
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: @md-width;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  &:after { .clearfix; }
  @media @desktop {
    max-width: @lg-width;
  }
}
/* Spacer */
.spacer {
  position: relative;
}
/* Main */
.main {
  .wrapper;
  @media @tablet-md {
    padding-top: 30px;
  }
}
/* Layout */
.layout {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
  &-in {
    width: 100%;
    display: table-cell;
    vertical-align: top;
    position: relative;
    @media @tablet-md {
      vertical-align: middle;
    }
  }
  .body-landscape & { padding-top: 56px; }
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset { padding: 0; border: 0; margin: 0; }
/* BUTTONS */
.button, button, input[type="submit"], input[type="button"] {
  height: auto;
  padding: 6px 16px 5px;
  border: none;
  border-radius: 4px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  font: 14px/20px @font-cinzel;
  white-space: nowrap;
  color: @color-white;
  text-align: center;
  text-decoration: none;
  .color-black(.4);
  text-shadow: 1px 1px 1px @color;
  background: @color-font url('@{images}/button.png') repeat-x center center;
  background-size: auto 100%;
  z-index: 2;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  -webkit-backface-visibility: hidden;

  &:before {
    .before;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    background: url('@{images}/button-hover.png') no-repeat 0 50%;
    background-size: auto 100%;
    transition: opacity @duration;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-backface-visibility: hidden;
  }
  &:hover:before { opacity: 1; }

  @media @tablet-sm {
    padding: 7px 16px 6px;
    font-size: 15px;
  }
  @media @tablet-md {
    font-size: 19px;
    line-height: 22px;
  }
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  padding-top: @margin-s;
  padding-bottom: @margin-s;
  margin-top: 30px;
  position: relative;
  z-index: 5;
  text-align: center;
  cursor: default;
  .wrapper;

  &:before {
    .before;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 13px;
    right: 13px;
    background: @color-gray-darker;
  }

  p:last-child { margin-bottom: 0; }

  .company {
    margin-top: @margin-s;
    margin-bottom: @margin-xs;
    font: 24px @font-freestyle;
    color: @color-gray-medium;
  }

  .copyright {
    margin: @margin-xs 0;
    font-size: 11px;
    letter-spacing: .012em;
    color: @color-gray-dark;
  }

  .actions {
    padding: 0;
    margin: 0;
    list-style: none;
    .unselectable;

    li {
      margin: 0 9px;
      display: inline-block;
      vertical-align: middle;

      a {
        border: none;
        display: block;
        position: relative;
        z-index: 1;

        &:before {
          .before;
          width: 0;
          height: 0;
          margin: auto auto;
          opacity: 0;
          border-radius: 50%;
          background: @color-white;
          box-shadow: 0 0 28px 8px @color-white;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          transition: opacity @duration;
          z-index: -1;
        }

        img {
          width: 19px;
          height: 15px;
          display: block;
          opacity: .53;
          transition: opacity @duration;
        }

        &:hover {
          &:before { opacity: 1; }
          img { opacity: 1; }
        }
      }
    }
  }

  @media @mobile-md {
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    .copyright { margin-top: 0; margin-bottom: 0; position: absolute; top: 44px; left: 30px; }
    .company { margin-top: 0; margin-bottom: 0; font-size: 24px; position: absolute; top: 14px; left: 30px; }
    .actions { position: absolute; right: 30px; top: 30px; }
  }
  @media @tablet-md {
    height: 113px;
    margin-top: 115px;
    z-index: 80;
    &:before { left: 15px; right: 15px; }
    .copyright { top: 64px; left: 38px; }
    .company { top: 16px; left: 38px; font-size: 30px; line-height: 36px; }
    .actions { right: 26px; top: 66px; }
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  padding: 20px 15px;
  position: relative;
  overflow: hidden;
  z-index: 5;
  cursor: default;
  .wrapper;

  .logo {
    padding-right: 100px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
    font: 22px/24px @font-poiret;
    color: @color-font;
    text-shadow: 0 0 1px @color-font;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;

    .nav-hidden & { cursor: pointer; }

    &:before {
      width: 95px;
      height: 30px;
      margin: auto;
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background: url("@{images}/flower.png") center center no-repeat;
      background-size: auto 100%;
    }
  }

  @media @mobile-sm {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:before {
      .before;
      height: 3px;
      margin: 0 auto;
      position: absolute;
      bottom: 0;
      left: 13px;
      right: 13px;
      background: @color-gray-darker;
    }
    .logo {
      padding-right: 140px; font-size: 21px; line-height: 24px;
      &:before { width: 133px; height: 40px; }
    }
  }

  @media @mobile-lg {
    .logo { font-size: 26px; line-height: 30px; }
  }

  @media @tablet-sm {
    .logo { font-size: 36px; line-height: 46px; }
  }

  @media @tablet-md {
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 120px;
    right: 0;
    z-index: 70;
    &:before { display: none; }
    .logo {
      max-width: none;
      padding-left: 20px;
      padding-right: 200px;
      font-size: 48px;
      line-height: 65px;
      letter-spacing: .025em;
      white-space: nowrap;
      &:before { width: 190px; height: 60px; top: 20px; right: 18px; }
    }
  }

  @media @desktop {
    .title {
      font-size: 55px;
    }
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  position: relative;
  z-index: 50;

  &-hidden & { display: none; }

  ul {
    margin: 0 -4px;
    padding: 0;
    list-style: none;
    position: relative;
    .unselectable;
    &:before {
      height: 30px;
      display: block;
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 5;
    }
    &:after { .clearfix; }

    li {
      width: 33.3%;
      height: 100%;
      padding: 0;
      margin-bottom: 8px;
      float: left;
      position: relative;

      a {
        width: 100%;
        min-height: 185px;
        border: none;
        display: block;
        text-decoration: none;
        &:hover {
          .inner { box-shadow: 0 0 5px 3px rgba(255, 255, 255, .75); /*.animation-name (nav-bounce-hover);*/ }
          .title:before { opacity: 1; }
        }
      }

      &:before {
        height: 26px;
        margin-top: 3px;
        display: block;
        content: '';
        position: absolute;
        top: 100%;
        left: 2px;
        right: 2px;
        background: url('@{images}/nav.png') no-repeat 50% 0;
        background-size: 100% 100%;
        //.animation-name (shadow-bounce-blur);
        .animation-duration(@duration-animation);
        .animation-fill-mode(both);
      }

      &:hover {
        //&:before { .animation-name (shadow-bounce-hover); }
      }

      &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: none; }
      &:nth-child(n+4) { margin-bottom: 0; }

      &:nth-child(1) .inner:before { background-image: url('@{images}/nav/home.jpg'); }
      &:nth-child(2) .inner:before { background-image: url('@{images}/nav/about.jpg'); }
      &:nth-child(3) .inner:before { background-image: url('@{images}/nav/orders.jpg'); }
      &:nth-child(4) .inner:before { background-image: url('@{images}/nav/gallery.jpg'); }
      &:nth-child(5) .inner:before { background-image: url('@{images}/nav/video.jpg'); }
      &:nth-child(6) .inner:before { background-image: url('@{images}/nav/contact.jpg'); }
    }

    .inner {
      height: 100%;
      min-height: 200px;
      border: 1px solid @color-white;
      border-radius: 4px;
      margin: 0 4px;
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      color: @color-white;
      box-shadow: 0 0 0 2px @color-silver;
      background: @color-white;
      transition: box-shadow @duration-animation;
      -webkit-backface-visibility: hidden;
      //.animation-name (nav-bounce-blur);
      .animation-duration(@duration-animation);
      .animation-fill-mode(both);

      &:before {
        .before;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;
        left: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        -webkit-backface-visibility: hidden;
      }
    }

    .title {
      height: 40px;
      padding: 12px 0 8px;
      border-radius: 0 0 3px 3px;
      display: block;
      overflow: hidden;
      font: 12px/20px @font-cinzel;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background: @color-font url('@{images}/button.png') repeat-x center center;
      background-size: auto 100%;
      .color-black(.2);
      box-shadow: inset 0 1px 0 @color;
      -webkit-backface-visibility: hidden;
      .h { display: none; }

      &:before {
        .before;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: @color-gray-dark url('@{images}/button-hover.png') no-repeat 0 50%;
        background-size: auto 100%;
        transition: opacity @duration;
        .color-black(.2);
        box-shadow: inset 0 1px 1px @color;
        -webkit-backface-visibility: hidden;
      }
    }

    .body-portrait & {
      margin: 0 -8px;
      .title {
        font-size: 13px;
        letter-spacing: -0.05em;
        @media @mobile-sm {
          font-size: 14px;
          letter-spacing: 0;
          .h { display: inline; }
        }
      }
      .inner {
        @media (min-width: 414px) {
          min-height: 265px;
        }
      }
    }

    @media @mobile-sm {
      .inner { min-height: 220px; }
      .body-landscape & {
        li {
          width: 16.66%;
          &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: block; }
          &:nth-child(n+1) { margin-bottom: 0; }
        }
      }
    }

    @media @mobile-md {
      body:not(.body-landscape) & { max-width: 500px; margin: 0 auto; }
      .body-landscape & {
        .inner {
          @media (min-width: 600px) {
            min-height: 225px;
          }
          @media (min-width: 700px) {
            min-height: 265px;
          }
        }
      }
    }

    @media @tablet-sm {
      font-size: 14px;
      li:before { height: 28px; }
      .inner:before { bottom: 44px; }
      .title { height: 44px; }
      .body-portrait &, body:not(.body-portrait) & {
        .title { padding-top: 14px; padding-bottom: 10px; font-size: 15px; }
        .inner { min-height: 340px; }
      }
    }

    @media @tablet-md {
      body:not(.a) & {
        max-width: none;
        li {
          width: 160px;
          &:nth-child(1):before, &:nth-child(2):before, &:nth-child(3):before { display: block; }
          &:nth-child(n+1) { margin-bottom: 0; }
          &:before { .animation-name (shadow-bounce-blur); }
          &:hover:before { .animation-name (shadow-bounce-hover); }
          a:hover {
            .inner { .animation-name (nav-bounce-hover); }
          }
        }
        .inner {
          min-height: 400px;
          .animation-name (nav-bounce-blur);
          &:before { bottom: 70px; background-position: top left; }
        }
        .title {
          height: 70px;
          padding: 26px 0 20px;
          font-size: 19px;
          line-height: 26px;
          letter-spacing: .01em;
        }
      }
    }

    @media @desktop {
      body:not(.a) & {
        margin-right: -2px;
        li { width: 171px; }
        .inner { min-height: 460px; }
      }
    }
  }
}
/* ==========================================================================
 _CONTENT
 ========================================================================== */
.page {
  display: none;
  position: relative;
  .nav-page-visible &&-visible { display: block; }

  @media @tablet-sm {
    padding-left: 164px;
  }
  @media @desktop {
    padding-left: 175px;
  }
}
.content {
  padding: 15px;
  border: 1px solid @color-white;
  border-radius: 4px;
  margin: 0 -4px;
  position: relative;
  overflow: hidden;
  background: @color-gray-darkest;
  box-shadow: 0 0 0 2px @color-silver;

  article, section { clear: both; }
  > *:first-child {
    &, & > *:first-child, & > *:first-child > *:first-child { margin-top: 0; }
  }
  > *:last-child {
    &, & > *:last-child, & > *:last-child > *:last-child { margin-bottom: 0; }
  }

  .scroll {
    padding-right: 10px;
    margin-right: -10px;
    p:last-child, p.last-child { margin-bottom: 0; }
    .ps-scrollbar-y-rail {
      width: 6px !important;
      right: 1px !important;
      opacity: .2;
      background: @color-gray-darker !important;
      > .ps-scrollbar-y { width: 100%; }
    }
    &.ps-container.ps-active-y + .shadow {
      margin-top: -10px;
      height: 10px;
      display: block;
      position: absolute;
      left: 10px;
      right: 20px;
      bottom: 0;
      z-index: 100;
      opacity: .5;
      .gradient-y(rgba(20, 20, 20, 0), rgba(20, 20, 20, 1));
    }
    @media @mobile-md {
      position: relative;
      overflow: hidden;
      overflow-y: auto;
      .overflow-scrolling(touch)
    }
  }

  @media @tablet-sm {
    min-height: 340px;
    margin-right: 0;
    margin-left: 0;
    overflow: visible;
    &:before, &:after {
      height: 26px;
      margin-top: 4px;
      display: block;
      content: '';
      position: absolute;
      top: 100%;
      left: -4px;
      right: 16px;
      background: url('@{images}/content.png') no-repeat 0 0;
      background-size: auto 100%;
      .animation-duration(@duration-animation);
      .animation-fill-mode(both);
    }
    &:after {
      width: 20px;
      right: -4px;
      left: auto;
      background-position: 100% 0;
    }
  }

  @media @tablet-md {
    height: 400px;
    padding: 24px 44px;
    margin-right: 4px;

    .col {
      height: 100%;
      padding: 0 10px;
      margin-left: -10px;
      float: left;
      position: relative;
      clear: none;
      &:nth-child(1) { width: 510px; }
      &:nth-child(2) { width: 200px; float: right; margin-left: 0; margin-right: -10px; }
      > *:first-child, > *:first-child > *:first-child { margin-top: 0; }
    }
  }

  @media @desktop {
    height: 460px;
    padding: 24px 46px;
    margin-right: 2px;
    .col {
      &:nth-child(2) { width: 260px; }
    }
  }
}
/* ==========================================================================
 _BACK
 ========================================================================== */
.back {
  width: 30px;
  height: 30px;
  border: none;
  display: block;
  position: absolute;
  top: 5px;
  right: 1px;
  z-index: 20;
  font-size: 1px;
  line-height: 1px;
  text-indent: -1000px;
  .unselectable;

  &:before, &:after {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    margin: auto;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @color-white;
  }
  &:before { .rotate(-45deg); }
  &:after { .rotate(45deg); }

  @media @mobile-sm {
    top: 10px;
    right: 6px;
  }

  @media @tablet-sm {
    width: 152px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 4px;
    text-indent: 0;
    &:before {
      width: auto;
      height: 26px;
      margin-top: 3px;
      top: 100%;
      left: -2px;
      right: -2px;
      bottom: auto;
      background: url('@{images}/nav.png') no-repeat 50% 0;
      background-size: 100% 100%;
      .animation-duration(@duration-animation);
      .animation-fill-mode(both);
      .rotate(0deg);
    }
    &:after { display: none; }
    .inner {
      height: 100%;
      min-height: 200px;
      border: 1px solid @color-white;
      border-radius: 4px;
      display: block;
      overflow: hidden;
      position: relative;
      top: 0;
      color: @color-white;
      box-shadow: 0 0 0 2px @color-silver;
      background: @color-white;
      transition: box-shadow @duration-animation;
      -webkit-backface-visibility: hidden;
      .animation-duration(@duration-animation);
      .animation-fill-mode(both);

      &:before {
        .before;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 40px;
        left: 0;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        -webkit-backface-visibility: hidden;
        .page-home & { background-image: url('@{images}/nav/home.jpg'); }
      }
    }
    .title {
      height: 44px;
      padding: 14px 0 10px;
      border-radius: 0 0 3px 3px;
      display: block;
      overflow: hidden;
      font: 15px/20px @font-cinzel;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
      text-align: center;
      text-transform: uppercase;
      white-space: nowrap;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      background: @color-font url('@{images}/button.png') repeat-x center center;
      background-size: auto 100%;
      .color-black(.2);
      box-shadow: inset 0 1px 0 @color;
      -webkit-backface-visibility: hidden;
      .h { display: none; }

      &:before {
        .before;
        border-radius: 0 0 4px 4px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        background: @color-gray-dark url('@{images}/button-hover.png') no-repeat 0 50%;
        background-size: auto 100%;
        transition: opacity @duration;
        .color-black(.2);
        box-shadow: inset 0 1px 1px @color;
        -webkit-backface-visibility: hidden;
      }
    }
    &:hover {
      .inner { box-shadow: 0 0 5px 3px rgba(255, 255, 255, .75); }
      .title:before { opacity: 1; }
    }
  }

  @media @tablet-md {
    height: 400px;
    .title {
      height: 70px;
      padding: 14px 20px 8px;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: .01em;
      white-space: normal;
    }
  }

  @media @desktop {
    width: 163px;
    height: 460px;
  }
}
/* ==========================================================================
   _NEWS-LIST
   ========================================================================== */
.news {

  .entry {
    margin-bottom: @margin-s;

    .title {
      margin-top: 0;
      margin-bottom: 4px;
      font-weight: bold;
      font-family: inherit;
      font-size: inherit;
      text-transform: uppercase;
      & + p { margin-top: 0; }
    }

    &:last-child, &.last-child {
      &, p:last-child { margin-bottom: 0; }
    }
  }
}
/* ==========================================================================
   _ARTICLE
   ========================================================================== */
#about { display: block; }
.article {
  &:after { .clearfix; }
  .title {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog {

  .item {
    margin-bottom: 18px;
    &:after { .clearfix; }

    .image {
      width: 142px;
      margin-bottom: 14px;
    }

    .h {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  @media @mobile-md {
    .item {
      .image {
        margin-right: 24px;
        margin-bottom: 0;
        float: left;
      }
    }
  }
}
/* ==========================================================================
   _GALLERY
   ========================================================================== */
.gallery {

  &.slick-initialized {
    padding-top: 50px;
    position: relative;
    .slick-arrow {
      text-transform: uppercase;
      position: absolute;
      font-size: 16px;
      top: 0;
      z-index: 1000;
      &:before, &:after {
        .before;
        clear: both;
        width: 3px;
        height: 10px;
        background: @color-white;
        opacity: .8;
        position: absolute;
      }
      &:before { .rotate(45deg); }
      &:after { .rotate(-45deg); }
      &.slick-prev {
        padding-left: 34px;
        padding-right: 18px;
        left: 0;
        &:before, &:after { left: 10px; }
        &:before { top: 7px; }
        &:after { top: 13px; }
      }
      &.slick-next {
        padding-right: 34px;
        padding-left: 18px;
        left: 104px;
        &:before, &:after { right: 10px; }
        &:before { top: 13px; }
        &:after { top: 7px; }
      }
    }
  }
  .item {
    &:after { .clearfix; }
    a {
      text-decoration: none;
    }
    .picture {
      margin-bottom: 16px;
      display: block;
      border: none;
      border-radius: 0;
      img {
        width: auto;
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media @tablet-sm {
    .item {
      .text {
        width: 40%;
        float: left;
      }
      .picture {
        width: 55%;
        margin-bottom: 0;
        float: right;
      }
    }
  }
  @media @tablet-md {
    margin-top: -50px;
    &.slick-initialized {
      padding-top: 0;
      .slick-arrow {
        top: 60px;
      }
    }
    .item {
      .text {
        width: 30%;
        padding-top: 130px;
      }
      .picture {
        width: 60%;
      }
    }
  }
  @media @desktop {
    .item {
      .text { width: 26%; }
      .picture { width: 70%; }
    }
  }
}