/*
 * Project: YourwebCast.Com
 * File: Main styles
 */
/* ==========================================================================
   _FONTS
   ========================================================================== */
/* Cinzel */
@import url(https://fonts.googleapis.com/css?family=Cinzel);
/* Poiret One */
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/* Freestyle Script */
@font-face {
  font-family: 'Freestyle Script';
  src: url('../fonts/freestyle-script-webfont.eot');
  src: local('☺'), url('../fonts/freestyle-script-webfont.woff') format('woff'), url('../fonts/freestyle-script-webfont.ttf') format('truetype'), url('../fonts/freestyle-script-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ==========================================================================
   _GENERAL STYLES
   ========================================================================== */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 12px/14px Helvetica, Arial, sans-serif;
  color: #a3afb9;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
  background: #000;
  position: relative;
}
@media (min-width: 1280px) {
  body {
    height: auto;
  }
}
/* ==========================================================================
   _TEXT STYLES
   ========================================================================== */
p {
  margin: 0 0 14px;
}
:focus {
  outline: -webkit-focus-ring-color auto 0;
}
a {
  color: #e5eaef;
  outline: none;
  text-decoration: underline;
  transition: color 0.2s ease;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.h-default,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: normal;
  font-weight: normal;
  color: #a3afb9;
  font-family: 'Freestyle Script', cursive;
}
.h1,
h1 {
  margin: 8px 0;
  font-size: 32px;
  font-style: normal;
}
.h2,
h2 {
  margin: 8px 0;
  font-size: 28px;
  font-style: normal;
}
.h3,
h3 {
  margin: 8px 0;
  font-size: 26px;
  font-style: normal;
}
.h4,
h4 {
  margin: 8px 0;
  font-size: 24px;
  font-style: normal;
}
.h5,
h5 {
  margin: 8px 0;
  font-size: 22px;
  font-style: normal;
}
.h6,
h6 {
  margin: 8px 0;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 750px) {
  .h1,
  h1 {
    font-size: 40px;
  }
  .h2,
  h2 {
    font-size: 36px;
  }
  .h3,
  h3 {
    font-size: 32px;
  }
  .h4,
  h4 {
    font-size: 28px;
  }
  .h5,
  h5 {
    font-size: 24px;
  }
}
/* ==========================================================================
   _CONTAINERS
   ========================================================================== */
.clearfix {
  display: table;
  content: '\0020';
  clear: both;
}
.before {
  display: block;
  content: '\0020';
  overflow: hidden;
}
.hidden {
  display: none;
}
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 999px;
  padding: 0 15px;
  margin: 0 auto;
}
.wrapper:after {
  display: table;
  content: '\0020';
  clear: both;
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1054px;
  }
}
.main {
  padding: 20px 0 170px;
  height: 100%;
}
.main > .wrapper {
  height: 100%;
}
@media (min-width: 568px) {
  .main {
    padding-bottom: 130px;
  }
}
@media (min-width: 750px) {
  .main {
    padding-bottom: 210px;
  }
}
@media (min-width: 1280px) {
  .main {
    height: auto;
    padding: 40px 0 226px;
  }
  .main > .wrapper {
    height: auto;
  }
}
.container {
  height: 460px;
  margin-left: 175px;
  padding: 24px 46px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #565f67;
  border-radius: 4px;
  overflow-y: scroll;
}
.container .pure-g {
  margin: 0 -10px;
}
.container .pure-g [class*="pure-u"] {
  padding: 0 10px;
}
.scroll {
  height: 344px;
  overflow-y: scroll;
}
figure {
  margin: 0;
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
}
figure img {
  max-width: 100%;
  height: auto;
}
.push-left {
  margin: 0 16px 10px 0;
  float: left;
}
/* PureCSS styles */
.pure-g {
  font-family: inherit;
}
.pure-g [class*="pure-u"] {
  font-family: inherit;
}
.pure-menu-item:before {
  display: none;
}
/* ==========================================================================
   _FORMS
   ========================================================================== */
fieldset {
  padding: 0;
  border: 0;
  margin: 0;
}
/* BUTTONS */
.button,
button,
input[type="submit"] {
  height: auto;
  padding: 6px 22px;
  font: 17px/18px 'Cinzel', serif;
  display: inline-block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #a3afb9;
  box-shadow: inset 0 14px 0 0 rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #c8cfd4;
  transition: background 0.2s ease;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus {
  background: #28343d;
}
/* ==========================================================================
   _FOOTER
   ========================================================================== */
.footer {
  height: 95px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer .wrapper {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.footer .wrapper:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  height: 3px;
  margin: 0 auto;
  background: rgba(163, 175, 185, 0.23);
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
}
.footer .slogan {
  margin-bottom: 10px;
  font: 20px / normal 'Freestyle Script', cursive;
}
.footer .copyright {
  margin: 0 0 10px;
  font-size: 11px;
  letter-spacing: .012em;
}
.footer .actions {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .actions li {
  margin: 0 9px;
  display: inline-block;
  vertical-align: middle;
}
.footer .actions li a {
  display: block;
  position: relative;
  z-index: 1;
}
.footer .actions li a:before {
  display: block;
  content: '\0020';
  overflow: hidden;
  width: 0;
  height: 0;
  margin: auto auto;
  opacity: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 28px 8px #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: opacity 0.2s ease;
  z-index: -1;
}
.footer .actions li a img {
  width: 19px;
  height: 15px;
  display: block;
  opacity: .53;
  transition: opacity 0.2s ease;
}
.footer .actions li a:hover:before {
  opacity: 1;
}
.footer .actions li a:hover img {
  opacity: 1;
}
@media (min-width: 568px) {
  .footer {
    height: 70px;
    text-align: left;
  }
  .footer .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer .copyright {
    margin-bottom: 0;
    position: absolute;
    top: 44px;
    left: 30px;
  }
  .footer .slogan {
    margin-bottom: 0;
    position: absolute;
    top: 14px;
    left: 30px;
  }
  .footer .actions {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}
@media (min-width: 970px) {
  .footer {
    height: 113px;
  }
  .footer .copyright {
    top: 64px;
    left: 38px;
  }
  .footer .slogan {
    top: 16px;
    left: 38px;
    font-size: 30px;
  }
  .footer .actions {
    right: 26px;
    top: 66px;
  }
}
/* ==========================================================================
   _HEADER
   ========================================================================== */
.header {
  padding: 20px 0;
  background: #000;
  position: absolute;
  bottom: 95px;
  left: 0;
  right: 0;
  overflow: hidden;
}
.header .wrapper {
  background: url("../img/temp/flowers.jpg") 98% 0 no-repeat;
  background-size: auto 75%;
}
.header .title {
  max-width: 60%;
  margin: 0;
  font: bold 18px / normal 'Poiret One', cursive;
  position: relative;
  left: 18px;
  letter-spacing: .02em;
}
@media (min-width: 568px) {
  .header {
    bottom: 70px;
  }
  .header .wrapper {
    background-size: auto 100%;
  }
}
@media (min-width: 750px) {
  .header .title {
    padding-right: 0;
    font-size: 36px;
  }
}
@media (min-width: 970px) {
  .header {
    bottom: 111px;
  }
  .header .title {
    max-width: none;
    font-size: 45px;
  }
}
@media (min-width: 1280px) {
  .header .wrapper {
    background-size: 200px 60px;
    background-position: 98% 12px;
  }
  .header .title {
    font-size: 56px;
  }
}
/* ==========================================================================
   _NAV
   ========================================================================== */
.nav {
  height: 100%;
}
.nav ul {
  height: 100%;
  margin: 0 -4px;
  padding: 0;
  list-style: none;
  font: 11px / normal 'Cinzel', serif;
  text-transform: uppercase;
}
.nav ul:after {
  display: table;
  content: '\0020';
  clear: both;
}
.body-vertical .nav ul {
  max-width: 500px;
  margin: 0 auto;
}
.nav ul li {
  width: 16.66%;
  height: 100%;
  padding: 0 4px;
  float: left;
}
.body-vertical .nav ul li {
  width: 33.3%;
  padding-bottom: 10px;
  height: 50%;
}
.nav ul li a {
  width: 100%;
  height: 100%;
  display: block;
  color: #fff;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #565f67;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}
.nav ul li a span {
  padding: 15px 0 10px;
  display: block;
  background: #a3afb9;
  box-shadow: inset 0 20px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: background 0.2s ease;
}
.nav ul li a:hover {
  box-shadow: 0 0 5px 2px #fff;
}
.nav ul li a:hover span {
  background: #28343d;
}
.nav ul li:nth-child(1) a {
  background-image: url('../img/nav-1.jpg');
}
.nav ul li:nth-child(2) a {
  background-image: url('../img/nav-2.jpg');
}
.nav ul li:nth-child(3) a {
  background-image: url('../img/nav-3.jpg');
}
.nav ul li:nth-child(4) a {
  background-image: url('../img/nav-4.jpg');
}
.nav ul li:nth-child(5) a {
  background-image: url('../img/nav-5.jpg');
}
.nav ul li:nth-child(6) a {
  background-image: url('../img/nav-6.jpg');
}
@media (min-width: 750px) {
  .nav ul {
    font-size: 14px;
  }
}
@media (min-width: 1280px) {
  .nav {
    height: auto;
  }
  .nav ul {
    height: auto;
    font-size: 20px;
  }
  .nav ul li {
    height: auto;
  }
  .nav ul li a {
    height: 460px;
  }
  .nav ul li a span {
    padding: 27px 0 17px;
    box-shadow: inset 0 40px 0 0 rgba(255, 255, 255, 0.2);
  }
}
/* ==========================================================================
 _BACK
 ========================================================================== */
.back {
  width: 164px;
  height: 460px;
  float: left;
  display: block;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px #565f67;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font: 20px / normal 'Cinzel', serif;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
}
.back .bottom {
  width: 100%;
  height: 70px;
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.back .bottom span {
  padding: 0 4px;
  display: table-cell;
  vertical-align: middle;
  background: #a3afb9;
  box-shadow: inset 0 40px 0 0 rgba(255, 255, 255, 0.2);
  transition: background 0.2s ease;
}
.back:hover {
  box-shadow: 0 0 5px 2px #fff;
}
.back:hover span {
  background: #28343d;
}
/* ==========================================================================
   _NEWS-LIST
   ========================================================================== */
.news-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.news-list li {
  margin-bottom: 10px;
}
.news-list li .h {
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}
/* ==========================================================================
   _ARTICLE
   ========================================================================== */
.article:after {
  display: table;
  content: '\0020';
  clear: both;
}
.article .title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}
/* ==========================================================================
   _CATALOG
   ========================================================================== */
.catalog .item {
  margin-bottom: 18px;
}
.catalog .item:after {
  display: table;
  content: '\0020';
  clear: both;
}
.catalog .item .image {
  width: 142px;
  margin-right: 24px;
  float: left;
}
.catalog .item .h {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
}
